@import "@styles/theme.scss";
.title-list {
  .at-list__item-extra {
    display: none;
  }
  .at-search-bar__input {
    line-height: 30px;
    padding: 0px 80px;
  }
  .loading-wrap {
    position: relative;
    height: 100px;
    text-align: center;
  }
}
